/* TaskList.css */
.filter-section {
  margin-right: auto;
  max-width: 700px;
  text-align: left;
}

.filter-tags {
  display: flex;
  gap: 10px;
  justify-content: start;
  flex-wrap: wrap;
}

.task-list-wrapper {
  margin-top: 20px;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Task name, tags, buttons */
  justify-items: center;
  align-items: center;
  margin: 10px 0;
  padding: 15px;
  background-color: #414040;
  border-radius: 8px;
}

.task-name {
  justify-self: start;
}

.task-tags {
  display: flex;
  gap: 10px;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-self: end;
}

/* Responsive styles for screens smaller than 500px */
@media (max-width: 500px) {
  .task-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .task-tags {
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .button-group {
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }

  .task-name {
    font-size: 1rem;
    margin-bottom: 5px;
  }
}
