/* Add margin to create space between the filter section and the task list */
.task-list-wrapper {
  margin-top: 20px;
}

/* Flex layout for task items */
.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  margin-bottom: 10px;
}


.task-name {
  flex: 1;
  text-align: left; /* Align text to the left */
}


.task-tags {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 5px;
}

/* Align buttons to the right */
.button-group {
  display: flex;
  gap: 10px;
}
