/* TaskManagement.css */

.management-main {
  padding: 20px;
}

.management-form-section,
.task-list-section {
  margin-bottom: 30px;
}

.management-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.management-label {
  font-weight: bold;
  width: 100px;
}

.management-input {
  flex: 1;
  padding: 8px;
  min-width: 0;
}

.management-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  white-space: nowrap; /* Ensure the button doesn't wrap */
}

.management-button:hover {
  background-color: #555;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex: 1; /* Allow this to take up remaining space */
}

.management-task-list {
  list-style-type: none;
  padding: 0;
}

.management-task-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Three columns: task name, tags, buttons */
  justify-items: center; /* Center content in the middle column */
  align-items: center;
  margin: 10px 0;
  padding: 15px;
  background-color: #414040;
  border-radius: 8px;
}

.task-name {
  justify-self: start; /* Align task names to the left */
}

.task-tags {
  display: flex;
  gap: 10px;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-self: end; /* Align buttons to the right */
}

.filter-section {
  margin-bottom: 20px;
}

.filter-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 3px; /* Add gap between tag buttons */
}

.filter-tags button {
  margin-right: 5px;
}

.tag-button.selected {
  background-color: #007bff;
  color: white;
}

/* Responsive styles for screens smaller than 500px */
@media (max-width: 500px) {
  .management-form {
    flex-direction: column;
    align-items: stretch; /* Ensure form items stretch to fill available width */
  }

  .management-label {
    width: auto; /* Allow labels to take up only necessary space */
  }

  .management-input {
    width: 100%; /* Make inputs full width */
  }

  .tags-container {
    justify-content: flex-start;
    gap: 5px; /* Slightly reduce gap for small screens */
  }

  .management-task-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .task-tags {
    margin-top: 10px;
    flex-wrap: wrap; /* Allow tags to wrap to new lines */
  }

  .button-group {
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }

  .management-button {
    padding: 8px 15px; /* Reduce padding for small screens */
  }
}
