/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

/* App container with a flex column layout */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Banner at the top */
.banner {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Title in the banner */
.banner-title {
  margin: 0;
  font-size: 2.5em;
  flex: 1;
}

/* Navigation menu styles */
.nav-menu {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

/* Navigation links */
.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #555;
}

/* Main content to take the rest of the screen */
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100vw; /* Full viewport width */
}

/* Style for the container of each page to fill more space */
.page-container {
  width: 100vw; /* Full viewport width */
  max-width: 1200px; /* Limit width on large screens */
  background-color: rgb(121, 121, 121);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  box-sizing: border-box;
}


.page-header {
  background-color: #444;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 30px;
}

/* Responsive styles for screens smaller than 500px */
@media (max-width: 500px) {
  .banner-title {
    font-size: 1.8em; /* Reduce font size */
    margin-bottom: 10px; /* Add margin to create space between title and menu */
  }

  .nav-menu {
    justify-content: center;
    gap: 10px;
  }

  .nav-link {
    font-size: 1em;
    padding: 5px 10px;
  }


  .page-container {
    width: 95vw; /* Slightly reduce width to prevent overflow */
    padding: 15px; /* Reduce padding to fit content better */
  }
}
